/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *

 *= require store/spree_frontend

 *= require_self
 *= require_tree .
 *= require store/spree_banner
*/

nav #main-nav-bar li#link-to-cart a {
  font-weight: normal;
  font-size: 16px;
  color: #000000;
}

/*nav #main-nav-bar li#link-to-cart {
  background: url("better_cart.png");
} need cart of a good size*/

a {
  text-decoration: none;
  color: #000000;
}

/*input[type="submit"] {
  background-color: #387;
  border: #387;
} pick color */

ul#products li .price {
  color: #000000;
  font-size: 16px;
  padding-top: 5px;
  display: block;
}

.toppromobanner {
  display:none;
}

.toppromobanner ul {
  list-style: none;
  margin: 0 auto 0px auto;
  text-align: center;
  height: 220px;
  width: 800px;
}

.bottomadsbanner ul {
  list-style: none;
  margin: 0 auto 0px auto;
  text-align: center;
  height: 120px;
  width: 600px;
}

header {
  background-image: url("p4.png");
}

footer {
  background-image: url("p4.png");
}

body {
  background-image: url("p4.png");
}
